In [1]:
import pandas as pd
import sqlite3

In [10]:
users = pd.read_csv('table_2025_csvs/users.csv')
print(users.head())

         id                            lti_context_id            name  \
0  12375680  d15094ecdba7851b21007639994f090560263a50     Peyton Bean
1  12893799  8439d1b3c394c6fbc78bd66b68bcedf9412f9c3a  Amber Williams
2  12037441  f83b2108661ca2ec8d1021ace5ca4a99339d2047   Megan Morales
3  12201899  23a96162c005ee0f75f83081ddde79a138eb56c7    Morgan Weiss
4   9800735  c36132cac445af9767c38cce07712aa44a2dfa3b   Ian Macknight

                 created_at workflow_state                updated_at  \
0  2021-11-22T20:14:06.009Z     registered  2025-09-29T05:51:59.086Z
1  2022-11-01T22:03:05.168Z     registered  2024-04-08T20:10:14.979Z
2  2021-04-12T22:01:14.166Z     registered  2024-08-22T07:00:47.934Z
3  2021-08-09T22:08:06.918Z     registered  2025-09-29T06:00:36.104Z
4  2020-03-12T15:01:11.081Z     registered  2025-05-15T07:05:58.244Z

     sortable_name                                   avatar_image_url  \
0     Bean, Peyton  https://unity.instructure.com/images/thumbnail...
1  Williams, Amber  https://unity.instructure.com/files/248899310/...
2   Morales, Megan  https://unity.instructure.com/images/thumbnail...
3    Weiss, Morgan  https://unity.instructure.com/images/thumbnail...
4   Macknight, Ian  https://unity.instructure.com/images/thumbnail...

  avatar_image_source   avatar_image_updated_at      short_name  \
0          attachment  2022-02-21T05:06:19.294Z     Peyton Bean
1            external  2022-11-11T00:38:49.986Z  Amber Williams
2          attachment  2024-07-18T04:00:36.791Z   Megan Morales
3          attachment  2021-08-11T22:32:27.937Z    Morgan Weiss
4          attachment  2023-01-09T13:16:09.788Z   Ian Macknight

            last_logged_out pronouns                   time_zone  \
0  2023-04-03T00:59:05.118Z  she_her  Eastern Time (US & Canada)
1                       NaN      NaN  Eastern Time (US & Canada)
2  2023-05-26T02:43:08.684Z      NaN  Eastern Time (US & Canada)
3                       NaN      NaN  Eastern Time (US & Canada)
4  2022-10-31T12:49:03.660Z      NaN  Eastern Time (US & Canada)

                                       uuid locale deleted_at  \
0  GoowrC5gdrZnRB2MZNEMgizE3gfym9snhGa3ywPc    NaN        NaN
1  uupdxB8HPpkrywwuS9dK2h0qyZLrXQEgXGzjfBBq    NaN        NaN
2  UrGrBE0IuWvMvL3iqRTVcNBr49kI0VP3PLdJwCl7    NaN        NaN
3  5ZEm7Q9Y3yUkm9GbFJyyAkXXCLfoqMyv5LQhbKCw    NaN        NaN
4  tOEH3Ui7Vfv7V7csqXSneNmWEhA8BECVILrIBdTp    NaN        NaN

   merged_into_user_id
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

In [11]:
print(len(users))

46814

In [2]:
testdb_path = r"E:\matt_lisa_dev\matt_lisa\LisaEnginePrototype\test_output\databases\lisa_test.db"

In [16]:
# make df from test db - compare name and id columns - should only be 1 diff
# need to do this for each - possible processing is bad for one of them

conn = sqlite3.connect(testdb_path)
testdbdf = pd.read_sql_query("SELECT * FROM users", conn)
conn.close()

print(len(testdbdf))

46815

In [37]:
dbcolumns = testdbdf[['name','sis_id']].copy()
dbcolumns.rename(columns={'sis_id':'id'}, inplace=True)
dbcolumns = dbcolumns.astype({'id':'int64', 'name':'string'})

print(dbcolumns.head())

dfcolumns = users[['name', 'id']].copy()
dfcolumns = dfcolumns.astype({'id':'int64', 'name':'string'})

print(dfcolumns.head())

db = dbcolumns.reset_index(drop=True).sort_index(axis=1)
df = dfcolumns.reset_index(drop=True).sort_index(axis=1)

comparison = db.equals(df)   # returns True/False
print("Are they the same?", comparison)

mismatches = db.ne(df)  # True where different
print("Mismatches:\n", db[mismatches.any(axis=1)])
print("vs:\n", df[mismatches.any(axis=1)])

             name        id
0     Peyton Bean  12375680
1  Amber Williams  12893799
2   Megan Morales  12037441
3    Morgan Weiss  12201899
4   Ian Macknight   9800735
             name        id
0     Peyton Bean  12375680
1  Amber Williams  12893799
2   Megan Morales  12037441
3    Morgan Weiss  12201899
4   Ian Macknight   9800735
Are they the same? False
Mismatches:
              id          name
46814  17972504  Test Student
vs:
 Empty DataFrame
Columns: [id, name]
Index: []

C:\Users\MVirgin\AppData\Local\Temp\2\ipykernel_6040\3583273989.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print("vs:\n", df[mismatches.any(axis=1)])

In [4]:
## checking courses
conn = sqlite3.connect(testdb_path)
coursedbf = pd.read_sql_query("SELECT * FROM course_instances", conn)
conn.close()

print(len(coursedbf))

28055

In [5]:
courses = pd.read_csv('table_2025_csvs/courses.csv')
print(len(courses))

28055

C:\Users\MVirgin\AppData\Local\Temp\2\ipykernel_11600\3873496369.py:1: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  courses = pd.read_csv('table_2025_csvs/courses.csv')

In [7]:
dbcolumns = coursedbf[['title','canvas_id']].copy()
dbcolumns.rename(columns={'canvas_id':'id', 'title':'name'}, inplace=True)
dbcolumns = dbcolumns.astype({'id':'int64', 'name':'string'})

print(dbcolumns.head())

dfcolumns = courses[['name', 'id']].copy()
dfcolumns = dfcolumns.astype({'id':'int64', 'name':'string'})

print(dfcolumns.head())

db = dbcolumns.reset_index(drop=True).sort_index(axis=1)
df = dfcolumns.reset_index(drop=True).sort_index(axis=1)

comparison = db.equals(df)   # returns True/False
print("Are they the same?", comparison)

mismatches = db.ne(df)  # True where different
print("Mismatches:\n", db[mismatches.any(axis=1)])
print("vs:\n", df[mismatches.any(axis=1)])

                                                name       id
0  DE/HL-23-Feb_EVPC401-01: TRANSFORMATIONAL LEAD...  3654510
1  DE/HL-23-Feb_MBAQ203-01: GLOBAL DIV FRESHWATER...  3654337
2  DE/HL-23-Feb_GISC301-01: APPLIED SPATIAL ANALY...  3654514
3  DE/HL-23-Feb_MBAQ203-02: GLOBAL DIV FRESHWATER...  3654338
4  DE/HL-23-Feb_EVPC201-06: ENV. ISSUES: DEFOREST...  3654500
                                                name       id
0  DE/HL-23-Feb_EVPC401-01: TRANSFORMATIONAL LEAD...  3654510
1  DE/HL-23-Feb_MBAQ203-01: GLOBAL DIV FRESHWATER...  3654337
2  DE/HL-23-Feb_GISC301-01: APPLIED SPATIAL ANALY...  3654514
3  DE/HL-23-Feb_MBAQ203-02: GLOBAL DIV FRESHWATER...  3654338
4  DE/HL-23-Feb_EVPC201-06: ENV. ISSUES: DEFOREST...  3654500
Are they the same? True
Mismatches:
 Empty DataFrame
Columns: [id, name]
Index: []
vs:
 Empty DataFrame
Columns: [id, name]
Index: []